# Python
__pycache__/
*.py[cod]
*.log

# Virtual Environment
backend/venv/

# Environment variables
.env
.env.*

# Node
frontend/node_modules/
frontend/dist/

# Vite
.vite/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
.history/